:root {
    --primary-color: #004E77;
    --secondary-color: #663E73;
    --tertiary-color: #00A8A0;
    --quaternary-color: #00BCF2;
    --dark-gray-color: #727477;
    --light-gray-color: #C6C8CA;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.uk-background-primary  {
    background-color: var( --primary-color);
}

.uk-section-primary {
    background: var( --primary-color);
}

.uk-text-primary {
    color: var( --primary-color);
}

.uk-background-secondary {
    background-color: var( --secondary-color);
}

.uk-section-secondary {
    background-color: var( --secondary-color);
}

.uk-text-secondary {
    color: var( --secondary-color);
}


.uk-background-tertiary {
    background-color: var( --tertiary-color);
}

.uk-section-tertiary {
    background-color: var( --tertiary-color);
}

.uk-text-tertiary {
    color: var( --tertiary-color);
}

.uk-background-quaternary {
    background-color: var( --quaternary-color);
}

.uk-section-quaternary {
    background-color: var( --quaternary-color);
}

.uk-text-quaternary {
    color: var( --quaternary-color) !important;
}

.uk-background-light-gray {
    background-color:  var( --light-gray-color);
}

.uk-section-light-gray {
    background-color:  var( --light-gray-color);
}

.uk-text--light-gray{
    color: var( --light-gray-color);
}


.uk-navbar-left h1 a {
    background-color: #0096ce;
    background-image: url('https://cdn.orbie.org/assets/orbie.png');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 34px 34px;
    display: block;
    height: 0;
    overflow: hidden;
    padding-top: 64px;
    transition: background-color .25s;
    width: 64px;
    margin-right: 2rem;
}

.uk-navbar-left h1 a:hover {
    background-color: var( --secondary-color);
}

.uk-navbar-nav li a {
    font-weight: 700;
}

.uk-button {
    border-radius: 1rem;
}


.uk-button-default {
    background-color: var( --primary-color);
    color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "raleway", sans-serif;
}

p {
    font-size: 1.25em;
    line-height: 1.5em;
    margin: .5em 0 1.5em;
    font-weight: 500;
}


.hero-container {
    font-weight: 700;
    background: linear-gradient(90deg, rgba(102,62,115,.8) 0%, rgba(0,78,119,.8) 35%, rgba(0,188,242,.4) 100%), url(/images/leadership.webp) no-repeat top center;
    background-size: cover, cover;
    animation: gradient 15s ease infinite;
    height: 75svh;
    width: 100%;
    position: relative;
    clip-path: polygon(
            0 0,
            100% 0,
            100% 100%,
            0 calc(100% - 5vw)
    );
    margin-top: -1.25rem;
}
h1.uk-heading-large {
    font-family: "raleway", sans-serif;
    font-weight: 700;
    color: white;
    font-size: clamp(3rem, 5vw, 6rem);
    margin: 10% auto;
    text-align: center;
}

.uk-heading-medium {
    font-family: "raleway", sans-serif;
    font-weight: 700;
}

.uk-heading-large {
    font-family: "raleway", sans-serif;
    font-weight: 700;
}
.uk-heading-large {
    font-family: "raleway", sans-serif;
    font-weight: 700;
    color: var( --quaternary-color);
}


a {
    color: hsl(261deg 70% 90%);

    &:hover {
        color: hsl(261deg 70% 100%);
    }
}

.btn {
    display: inline-block;
    inline-size: auto;
    padding-block: 0.3rem;
    padding-inline: 1rem;
    border: 1px solid hsl(0 0 90%);
    border-radius: 100px;
    text-decoration: none;
    color: hsl(0 0 100%);
    transition: all 0.2s ease-in-out;

    &:hover {
        background: hsl(0 0 100%);
        color: hsl(0 0 20%);
    }

    .header & {
        padding-block: 0.5rem;
        padding-inline: 1.2rem;
        margin-block: 2rem;
        font-size: 1.1rem;
    }
}

.header,
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-inline: 3rem;
    background: hsl(0 0 0% / 0.5);
}

.footer {
    justify-content: center;
}

.header__title {
    margin-block: 2rem;
}

.header__image {
    display: block;
    margin: auto;
    max-inline-size: 100%;
}

.footer__text {
    font-size: 1.2rem;
}

.main {
    width: 100%;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-wrap: wrap;
    row-gap: 3rem;
}

/* Demo Code */
.card {
    --margin: 2rem;
    --padding: 2rem;
    --slant: 20%;

    margin-inline: 0;
    padding-inline: var(--padding);
    padding-inline: 0;

    display: block;
    inline-size: 100%;
    max-inline-size: 400px;
    min-inline-size: 340px;
    position: relative;
    inset-block-start: 0;
    overflow: hidden;
    background: linear-gradient(to right, #004E77, #1bb0e0);
    transition: all 0.2s ease;
    border-radius: 8px;

    clip-path: polygon(
            var(--slant) 0,
            100% 0,
            calc(100% - var(--slant)) 100%,
            0 100%
    );
    clip-path: polygon(
            calc(var(--slant) - var(--padding)) 0,
            100% 0,
            calc(100% - var(--slant) + var(--padding)) 100%,
            0 100%
    );
}

.card:hover {
    inset-block-start: -0.7rem;
    scale: 1.1;
}

.card__start,
.card__end {
    block-size: 100%;
    inline-size: var(--slant);
}

.card__start {
    float: inline-start;
    shape-outside: polygon(0 0, 100% 0, 0 100%);
    shape-margin: 2rem;
}

.card__end {
    float: inline-end;
    shape-outside: polygon(100% 100%, 100% 0, 0 100%);
    shape-margin: 2rem;
}

.card__content {
    margin: 0;
    padding: 0;
    padding-block-end: 2rem;
    font-size: 1rem;
}

.card__title {
    margin-block: 2rem 1rem;
    color: hsl(0 0 100%);
    line-height: 1.2;

    a {
        color: inherit;
        text-decoration: none;
    }
}

.card__image {
    margin-block: 0;
    margin-inline: calc(var(--margin) * -1);
    margin-inline: calc(var(--slant) * -1);
    padding: 0;
    display: inline;
    inline-size: calc(100% + (var(--margin) * 2));
    inline-size: 100%;
    block-size: 17rem;
    object-fit: cover;
    object-position: center;
}

.card__text {
    margin-block: 1rem 1.3rem;
    padding: 0;
}

@media (max-width: 580px) {
    .header {
        flex-direction: column;
    }

    .header__title {
        margin-block-end: 0;
    }
}


.grid__col--3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    max-width: 75%;
margin: 0 auto;
}



.uk-navbar-nav li a {
    font-weight: 700;
    color: var();
}
